.clients__title {
  font-size: 28px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--main-text-color);

  @media screen and (min-width: 1200px) {
    font-size: 36px;
  }
}

.clients__menu {
  @include card-set;
  margin-top: 30px;

  @media screen and (min-width: 1200px) {
    margin-top: 50px;
  }
}

.clients__item {
  @include card-set-item(2);

  @media screen and (min-width: 768px) {
    @include card-set-item(3);
  }

  @media screen and (min-width: 1200px) {
    @include card-set-item(6);
  }
}

.clients__link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 92px;

  color: #afb1b8;
  border: 1px solid #afb1b8;
  border-radius: 4px;

  transition-property: color, border-color;
  transition-duration: var(--duration);
  transition-timing-function: var(--timing-function);

  &:hover,
  &:focus {
    color: var(--accent-text-color);
    border-color: var(--accent-text-color);
  }
}

.clients__icon {
  fill: currentColor;
}
