
/* modal section */

.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;

    background-color: rgba(0, 0, 0, 0.2);

    transition: opacity var(--duration) var(--timing-function),
        visibility var(--duration) var(--timing-function);
}

.is-hidden {
    visibility: hidden;
    opacity: 0;
    pointer-events: none;
}

.modal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(1);
    min-width: 528px;
    min-height: 581px;
    padding: 40px;

    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
        0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
    background-color: var(--secondary-text-color);

    transition: transform var(--duration) ease-in var(--duration),
        opacity var(--duration) ease-in var(--duration);
}

.backdrop.is-hidden .modal {
    transform: translate(-50%, -50%) scale(0.3);
    opacity: 0;
}

.modal__button-close {
    display: flex;
    justify-content: center;
    align-items: center;

    position: absolute;
    top: 8px;
    right: 8px;
    width: 30px;
    height: 30px;
    padding: 0;

    cursor: pointer;
    border-radius: 50%;
    border: 1px solid rgba(0, 0, 0, 0.1);
    background-color: var(--secondary-text-color);

    transition-property: color;
    transition-duration: var(--duration);
    transition-timing-function: var(--timing-function);
}

.modal__button-close:hover,
.modal__button-close:focus {
    color: var(--accent-text-color);
}

.modal__close-icon {
    fill: currentColor;
}

.modal__title {
    font-weight: 700;
    font-size: 20px;
    line-height: 1.15;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--main-text-color);
    margin-bottom: 12px;
}

.modal__label {
    display: block;

    font-size: 12px;
    line-height: 1.16;
    letter-spacing: 0.01em;
    color: var(--third-text-color);
    margin-bottom: 4px;
}

.modal__wrapper {
    position: relative;
    margin-bottom: 10px;
}

.modal__wrapper:last-of-type {
    margin-bottom: 20px;
}

.modal__input {
    width: 100%;
    height: 40px;
    padding-left: 42px;

    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    outline: none;

    transition: border var(--duration) var(--timing-function);
}

.modal__input:focus {
    border-color: var(--accent-text-color);
}

.modal__icon {
    position: absolute;
    top: 11px;
    left: 12px;

    fill: currentColor;

    transition: fill var(--duration) var(--timing-function);
}

.modal__input:focus+.modal__icon {
    fill: var(--accent-text-color);
}

.modal__comment {
    display: block;

    width: 100%;
    height: 120px;
    resize: none;
    padding: 12px 16px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    outline: none;

    font-size: 12px;
    line-height: 1.16;
    letter-spacing: 0.01em;
    color: rgba(117, 117, 117, 0.5);

    transition: border var(--duration) var(--timing-function);
}

.modal__comment:focus {
    border: 1px solid var(--accent-text-color);
    border-radius: 4px;
}

.modal__comment::placeholder {
    color: currentColor;
}

.modal__checkbox-label {
    display: flex;
    justify-content: center;
    align-items: center;

    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: var(--third-text-color);
    margin-bottom: 30px;
}

.modal__checkbox-input {
    appearance: none;
    width: 17px;
    height: 16px;

    border: 2px solid var(--dark-text-color);
    border-radius: 2px;
    margin-right: 8px;
}

.modal__checkbox-input:checked {
    background-color: var(--accent-text-color);
    border: transparent;
}

.modal__checkbox-title {
    position: absolute;
    top: 440px;
    left: 60px;
}

.modal__checkbox-link {
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    text-decoration-line: underline;
    color: var(--accent-text-color);
    margin-left: 4px;
}

.modal__send-button {
    display: block;

    margin: 0 auto;

    cursor: pointer;
    width: 200px;
    height: 50px;
    font-family: inherit;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    letter-spacing: 0.06em;
    color: var(--secondary-text-color);
    background-color: var(--accent-text-color);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    border: none;

    transition-property: background-color;
    transition-duration: var(--duration);
    transition-timing-function: var(--timing-function);
}

.modal__send-button:hover,
.modal__send-button:focus {
    background-color: #188ce8;
}