:root {
    --main-font: 'Roboto', sans-serif;
    --secondary-font: 'Raleway', sans-serif;

    /* text colors */ 
    --main-text-color: #212121;
    --secondary-text-color: #ffffff;
    --third-text-color: #757575;
    --dark-text-color: #000000;
    --accent-text-color: #2196f3;

    /* background colors */ 
    --main-bg-cl: #2f303a;

    /* animations */ 
    --timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    --duration: 250ms;
}